@using QuizApp.UI.ViewModel
@model QuizApp.UI.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post,htmlAttributes: new { @id = "validateChangePasswordForm", @name = "validateChangePasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="block">
        @Html.Partial("_BlockHeaderPartial",new BlockHeaderViewModel(){HeaderText = "Change Password",HelpTextIdentifier = "Change_Password"})  
        <div class="data-fluid">
            <div class="row-form">
                <div class="span3">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="span9">
                    @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new { @class = "validate[required]" })
                </div>
            </div>
            <div class="row-form">
                <div class="span3">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="span9">
                    @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "validate[required]" })
                </div>
            </div>
            <div class="row-form">
                <div class="span3">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="span9">
                    @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class= "validate[required,equals[NewPassword]]" })
                </div>
            </div>
            <div class="toolbar bottom tar">
                <div class="btn-group">
                    <button class="btn btn-info" id="hidePromptChangePasswordForm" name="hidePromptChangePasswordForm" type="button" >Hide prompts</button>
                    <button class="btn" type="submit">Change Password</button>
                </div>
            </div>
        </div>
    </div>
}


