@model QuizApp.UI.Models.LoginModel

<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="icon-coffee green"></i>
                Please Enter Your Information
            </h4>
            <h4>
                @Html.ValidationSummary();
            </h4>
            <div class="space-6">
            </div>
             @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @id = "registerForm" }))
             {
                 @Html.AntiForgeryToken()
                 <fieldset>
                     <label class="block clearfix">
                         <span class="block input-icon input-icon-right">
                             @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control", @placeholder = "Username" })
                             <i class="icon-user"></i>
                         </span>
                     </label>
                     <label class="block clearfix">
                         <span class="block input-icon input-icon-right">
                             @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password" })
                             <i class="icon-lock"></i>
                         </span>
                     </label>
                     <div class="space">
                     </div>
                     <div class="clearfix">
                         <label class="inline">
                             <input type="checkbox" id="RememberMe" name="RememberMe" class="ace" />
                             <span class="lbl">Remember Me</span>
                         </label>
                         <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                             <i class="icon-key"></i>Login
                         </button>
                     </div>
                     <div class="space-4">
                     </div>
                 </fieldset>
             }
            <div class="social-or-login center">
                <span class="bigger-110">Or Login Using</span>
            </div>
            <div class="social-login center">
                <a class="btn btn-primary"><i class="icon-facebook"></i></a><a class="btn btn-info">
                    <i class="icon-twitter"></i>
                </a><a class="btn btn-danger">
                    <i class="icon-google-plus">
                    </i>
                </a>
            </div>
        </div>
        <!-- /widget-main -->
        <div class="toolbar clearfix">
            <div>
                <a href="#"  class="forgot-password-link">
                    <i class="icon-arrow-left"></i>I forgot my password
                </a>
            </div>
            <div>
                <a href="@Url.Action("Register","Account")" class="user-signup-link">
                    I want to register <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /widget-body -->
</div>