@model QuizApp.UI.Models.LocalPasswordModel
<div class="alert alert-block">            
    <strong>Tip!!</strong> Add a local password so you can log in without an external login. 
</div>
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, htmlAttributes: new { @id = "setLocalPasswordFrom", @name = "setLocalPasswordFrom" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="block">
        <div class="head">                                
            <h2>Set Local Password</h2>
            <ul class="buttons">             
                <li><a href="#" onClick="source('form_default'); return false;"><div class="icon"><span class="ico-info"></span></div></a></li>
            </ul>                                  
        </div>
        <div class="data-fluid">
            <div class="row-form">
                <div class="span3">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="span9">
                    @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "validate[required]" })
                </div>
            </div>
            <div class="row-form">
                <div class="span3">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="span9">
                    @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class= "validate[required,equals[NewPassword]]" })
                </div>
            </div>
            <div class="toolbar bottom tar">
                <div class="btn-group">
                    <button class="btn btn-info" id="hidePromptLocalPasswordForm" name="hidePromptLocalPasswordForm" type="button" >Hide prompts</button>
                    <button class="btn" type="submit">Change Password</button>
                </div>
            </div>
        </div>  
    </div>
}
