@using QuizApp.UI.ViewModel
@model QuizApp.UI.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    ViewBag.SubTitle = "CHOOSE A USERNAME AND PASSWORD";
}

<div class="row-fluid">
    <div style="height: 200px;">
    </div>
</div>
<div class="row-fluid">
    <div class="span2"></div>
    <div class="span7">
        <div class="login">
            @Html.Partial("_PageHeaderPartial")
            <div class="row-fluid">
                <div class="span12">
                    <div class="block">
                        @Html.Partial("_BlockHeaderPartial", new BlockHeaderViewModel { HeaderText = "Create a new account", HelpTextIdentifier = "Register_New_User" })  
                    </div>
                    <div class="data-fluid">
                        @using (Html.BeginForm("Register", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @id = "validateRegisterForm", @name = "validateRegisterForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()

                            <div class="row-form">
                                <div class="span12">
                                    @Html.TextBoxFor(m => m.UserName, new { @id = "UserName", @name = "UserName", placeholder = "Username", @class = "validate[required],ajax[ajaxUserCall]" })
                                    @*                                @Html.ValidationMessageFor(m => m.UserName)
*@                            </div>
                            </div>
                            <div class="row-form">
                                <div class="span12">
                                    @Html.PasswordFor(m => m.Password, new { @id = "Password", name = "Password", placeholder = "Password", @class = "validate[required]" })
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>            
                            </div>
                            <div class="row-form">
                                <div class="span12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @id = "ConfirmPassword", name = "ConfirmPassword", placeholder = "ConfirmPassword", @class = "validate[required,equals[Password]]" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)

                                </div>
                            </div>
                            <div class="toolbar bottom tar">
                                <div class="btn-group">
                                    <button class="btn btn-info" id="hidePromptRegisterForm" name="hidePromptRegisterForm" type="button" >Hide prompts</button>
                                    <button class="btn" type="submit">Register <span class="icon-arrow-next icon-white"></span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span3"></div>

</div>

@section Scripts_MasterLayout 
{
    @Scripts.Render("~/Scripts/ViewScripts/Register")
}
