@{
    ViewBag.Title = "About Us - the crap makin company";
    Layout = "~/Views/Shared/_LayoutPageWithSideBar.cshtml";
}

<div class="row-fluid">
    <h4>
        Company Name
    </h4>
    <p>
        First Para - Intro to what we are
    </p>
    <p>
        Second Para - Intro to what we do
    </p>
    <p>
        Third Para - How we r useful for u 
    </p>
</div>




@*@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPageWithSideBar.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@