@using QuizApp.UI.ViewModel
@model QuizApp.UI.Models.FeedbackModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPageWithSideBar.cshtml";
}

<div class="row-fluid">
    <div class="span6">
        <div class="block">
            @Html.Partial("_BlockHeaderPartial", new BlockHeaderViewModel { HeaderText = "Feedback", ShowInfo = false})
        </div>
        <div class="data-fluid">
                   @using (Html.BeginForm("Contact", "Home", new { ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @id = "validateFeedbackForm", @name = "validateFeedbackForm" }))
                   {
                       <div class="row-form">
                           <div class="span12">
                               @Html.TextBoxFor(m => m.Name, new { @id = "name", @name = "name", placeholder = "name", @class = "validate[required]" })
                               @Html.ValidationMessageFor(m=> m.Name)
                           </div>
                       </div>
                       <div class="row-form">
                           <div class="span12">
                               @Html.TextBoxFor(m => m.EmailId, new { @id = "email", @name = "email", placeholder = "email", @class = "validate[required],custom[email]" })
                               @Html.ValidationMessageFor(m => m.EmailId)
                           </div>
                       </div>
                       <div class="row-form">
                           <div class="span12">
                               @Html.DropDownListFor(m => m.Reason, (IEnumerable<SelectListItem>)ViewBag.DropDownList, new { @id = "reason", @name = "reason", @class = "validate[required]" })
                               @Html.ValidationMessageFor(m=> m.Reason)
                           </div>
                       </div>
                       <div class="row-form">
                           <div class="span12">
                               @Html.TextAreaFor(m => m.Summary, new { @id = "summary", @name = "summary", placeholder = "summary", @class = "validate[required]" })
                               @Html.ValidationMessageFor(m => m.Summary)
                           </div>
                       </div>
                       <div class="toolbar bottom tar">
                        <div class="btn-group">
                            <button class="btn btn-info" id="hidePromptFeedbackForm" name="hidePromptFeedbackForm" type="button">Hide prompts</button>
                            <button class="btn" type="submit">
                                Submit <span class="icon-arrow-up icon-white"></span>
                            </button>
                        </div>
                    </div>
                 }
            
                    
        </div>
    </div>        
</div>
<div class="row-fluid">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/ViewScripts/Feedback")
}


@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>*@