<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        @*Favourites icon start*@

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @*Favourites icon end*@

        @*basic styles*@

        @Styles.Render("~/assets/css")

        @*basic styles*@
        
        @*Fonts*@

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
        
        @*Fonts*@


        <!--[if IE 7]>
            <link rel="stylesheet" href="../../assets/css/font-awesome-ie7.min.css" />
        <![endif]-->

        @*Page Specific Plugins Styles*@

        @RenderSection("PluginStyles_Master", false)

        @*Page Specific Plugins Styles*@
        
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="../../assets/css/ace-ie.min.css" />
        <![endif]-->
        
        @*Inline Styles for Page*@
        
        @RenderSection("InlineStyles_Master",false)

        @*Inline Styles for Page*@
        
        @*Site settings handler*@

        <script type="text/javascript" src="../../assets/js/ace-extra.min.js"></script>
        
        @*Site settings handler*@
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
            @Scripts.Render("~/assets/js/iecompatibility")
        <![endif]-->
        
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
