@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="margin-left: 8%;margin-right:8% ">
    <div class="page-header blue green">@ViewBag.PageHeader</div>
    @if (IsSectionDefined("PageHeaderIntro"))
{
    <div class="pageheader-container">
        @RenderSection("PageHeaderIntro", required: false)
    </div>
}

    @RenderBody()
</div>

@section TopNavigation
{
    @Html.Partial("_MenuNavBarPartial")
}

@section InlineStyles
{
    <link href="~/Content/homeindex.css" rel="stylesheet" />
    @RenderSection("InlineStyles_FrontPage", required: false)
}


@section InlineScripts
{
    @RenderSection("InlineScripts_FrontPage", required: false)
}
