<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Page Header Start  *@
    @Html.Partial("_PageHeaderWithBreadCrumsPartial")
@* Page Header End  *@

<div class="clear"></div>

@RenderSection("featured", required: false)
@RenderBody()




@* Section Defination Start *@
@section Sidebar
{
    <div class="sidebar">
        @if (IsSectionDefined("SidebarContent"))
        {
            @RenderSection("SidebarContent", required: false)
        }
        else
        {
            @Html.Partial("_SidebarDefaultPartial")
        }
    </div>
}

@section PrimaryNavigation
{
    @* Navigation Start  *@
    <ul class="navigation">
        <li>
            <a href="@Url.Action("Index", "Home")" class="button">
                <div class="icon">
                    <span class="ico-monitor"></span>
                </div>
                <div class="name">Home</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("About", "Home")" class="button yellow">
                <div class="icon">
                    <span class="ico-monitor"></span>
                </div>
                <div class="name">About</div>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Contact", "Home")" class="button green">
                <div class="icon">
                    <span class="ico-monitor"></span>
                </div>
                <div class="name">Contact</div>
            </a>
        </li>
        @Html.Partial("_LoginPartial")
    </ul>
    @* Navigation End  *@
}

@* Section Defination End *@