<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewBag.Title</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		@*Favourites icon start*@

		<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

		@*Favourites icon end*@

		@*basic styles*@

		@Styles.Render("~/assets/css")

		@*basic styles*@
		
		@*Fonts*@

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
		
		@*Fonts*@


		<!--[if IE 7]>
			<link rel="stylesheet" href="../../assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		@*Page Specific Plugins Styles*@

		@RenderSection("PluginStyles_Master", false)

		@*Page Specific Plugins Styles*@
		
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="../../assets/css/ace-ie.min.css" />
		<![endif]-->
		
		@*Inline Styles for Page*@
		
		@RenderSection("InlineStyles_Master",false)

		@*Inline Styles for Page*@
		
		@*Site settings handler*@

		<script type="text/javascript" src="../../assets/js/ace-extra.min.js"></script>
		
		@*Site settings handler*@
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
			@Scripts.Render("~/assets/js/iecompatibility")
		<![endif]-->
		
		@Scripts.Render("~/bundles/modernizr")

	</head>
	<body>
		@RenderSection("TopNavigation_Master",false)

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try {
					ace.settings.check('main-container', 'fixed');
				}
				catch (e) {
				}
			</script>
			<div >
				@RenderBody()
			</div>
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div>

		
		

		
		@*Basic Scripts*@
		
		@*Load Jquery from CDN*@

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>

		@*Load Jquery from CDN*@
		
		@*If CDN load failed load it from server*@
		

		@*If CDN load failed load it from server*@
		@*Load Jquery mobile if required*@
		<script type="text/javascript">
					if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
				</script>

		@*Load Jquery mobile if required*@

		@*Basic Scripts*@
		
		@*Page Specific Plugin Scripts*@

		@RenderSection("PluginScripts_Master",false)

		@*Page Specific Plugin Scripts*@

		@*Main Scripts*@
		
		@Scripts.Render("~/mainscripts")

		@*Main Scripts*@

		@*Page Specific/Inline Scripts*@

		@RenderSection("InlineScripts_Master", required: false)

		@*Page Specific/Inline Scripts*@


	</body>
</html>
