@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@if (IsSectionDefined("Sidebar"))
{
    @RenderSection("Sidebar", required: false)
}
else
{
    @Html.Partial("_SidebarDefaultPartial")
}
<div class="main-content">
    @if (IsSectionDefined("Breadcrumbs"))
    {
        @RenderSection("BreadcrubmsAndSearch", required: false)
    }
    else
    {
        @Html.Partial("_BreadcrumbsDefaultPartial")
    }
    <div class="page-content" id="page-content">
        @RenderBody();
    </div>
</div>
@section TopNavigation_Master
{
    @RenderSection("TopNavigation", required: false)
}
@section InlineStyles_Master
{
    @RenderSection("InlineStyles", required: false)
}
@section PluginStyles_Master
{
    @RenderSection("PluginStyles", required: false)
}
@section InlineScripts_Master
{
    @RenderSection("InlineScripts", required: false)
}
@section PluginScripts_Master
{
    @RenderSection("PluginScripts", required: false)
}
